{% extends "base.html" %}
{% block contenu %}
    <section class="section-intro">
        <h1>Exercices</h1>
        <p class="sous-titre">Progresse niveau par niveau, à ton rythme.</p>
    </section>

    <div class="grille-chapitres">
        {% for id_chapitre, infos in chapitres.items() %}
            <a class="carte-chapitre" href="{{ url_for('chapitre', chapitre_id=id_chapitre) }}">
                <span class="titre-carte">{{ infos.nom }}</span>
                <span class="sous-titre-carte">{{ infos.nb_niveaux }} niveaux</span>
            </a>
        {% endfor %}
    </div>

    <div class="zone-test">
        <a class="carte-test" href="{{ url_for('challenge') }}">
            <span>🎲</span> Mode Challenge infini (mélange de tout)
        </a>
    </div>
{% endblock %}